<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mohamed.robber2D" android:versionName="1.3" android:installLocation="auto" android:versionCode="8">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<application android:label="Robber 2D" android:icon="@drawable/Icon"></application>
</manifest>